@import "./common/_reset";

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary-font;
}

.manage-page {
  padding: 20px;

  .mgmt-title {
    margin-bottom: 20px;
    font-size: 20px;
  }
}

.page {
  height: 100%;
}

.el-table {
  .action-list button {
    padding: 0;
  }
}
