// element-ui制定的颜色

// color for background, emphasis
$primary-color: #409EFF;

// font
$primary-font: #2D2F33;
$normal-font: #5A5E66;
$secondary-font: #878D99;
$placeholder-font: #B4BCCC;

// border
$first-level-border: #D8DCE5;
$second-level-border: #DFE4ED;
$third-level-border: #E6EBF5;
$fourth-level-border: #EDF2FC;

// support color
$success: #67C23A;
$warning: #EB9E05;
$danger: #FA5555;
$info: #878D99;

// sidebar
$side-width: 256px;
$side-close-width: 0;
$side-bg-color: #001529;
$sibe-sub-item-bg: #000c17;
$side-color: rgba(white, 0.6);
$side-active-item-bg: #1890ff;

// main area
$main-area-bg: #f0f2f5;
$header-height: 64px;
