// element-ui制定的颜色
// 主色
$light-blue: #58b7ff;
$blue: #20a0ff;
$dark-blue: #1d8ce0;

// 辅助色
$success: #13ce66;
$warning: #f7ba2a;
$danger: #ff4949;

// 中性色
// 用于文本、背景和边框颜色。通过运用不同的中性色，来表现层次结构

// 黑
$black: #1d2d3d;
$light-black: #324057;
$etra-light-black: #475669;

// 银
$silver: #8492a6;
$light-silver: #99a9bf;
$etra-light-silver: #c0ccda;

// 灰
$gray: #D3DCE6;
$light-gray: #e5e9f2;
$etra-light-gray: #eff2f7;

// 白
$dark-white: #f9fafc;
$white: #fff;

// 快捷颜色
$primary: $blue;
$label-color: #5e6d82;

// sidebar
$side-width: 256px;
$side-close-width: 0;
$side-bg-color: #001529;
$sibe-sub-item-bg: #000c17;
$side-color: rgba(white, 0.6);
$side-active-item-bg: #1890ff;

// main area
$main-area-bg: #f0f2f5;
$header-height: 64px;
